$primary: #4527a0; // deep-purple darken-3
$info: #7f7f7f; // grey

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white

$font-family-serif:      "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-serif !default;

$headings-font-family:       "CinzelBold";
