$primary: #3F729B; // unique-color
$primary-dark: #1C2331; // unique-color-dark
$info: #7f7f7f; // grey

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white

$font-family-serif:     'Cormorant Garamond', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-serif !default;

$headings-font-family:       "CinzelRegular";

$font-size-base:              1.25rem !default;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;
