<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <h3 class="d-inline align-middle pl-3 text-white">Patrick R. Callahan</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            <!--
      {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}-->
      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/library/" class="nav-link">Library</a>
        </li>
        <!--<li class="nav-item">
          <a href="#" class="nav-link">Pindar Opera Viewer</a>
        </li>-->
        <li class="nav-item">
          <a href="#" class="nav-link">Publications</a>
        </li>
        <li class="nav-item">
          <a href="https://anchor.fm/wellreadcatholic/" class="nav-link" target="blank">Podcast</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/archive/" class="nav-link">Blog</a>
        </li>
        <!--<li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
        </li>-->
      </ul>
    </div>
</nav>
