<div id="post" class="container pt-3">
  <div class="row">
    <div class="col">
      <p class="lead text-info">
        {{ page.date | date: "%b %-d, %Y" }}
        • {{ page.author }}
        <!--read_time-->
          • <span>
             {% capture read_time %}
             {{ page.content | number_of_words | divided_by: 180 }}
             {% endcapture %}
             {% if read_time != '0' %}
             {{ read_time }}
             {% else %}
              1
             {% endif %} min</span>
      </p>
      <h1>{{ page.title }}</h1>
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</div>
