/* Webfont: Cinzel-Regular */@font-face {
    font-family: "CinzelRegular";
    src: url("/assets/fonts/cinzel-regular.woff2") format("woff2"), /* Modern Browsers */
         url("/assets/fonts/cinzel-regular.woff") format("woff"), /* Modern Browsers */
         url("/assets/fonts/Cinzel-Regular.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Cinzel-Black */@font-face {
    font-family: "CinzelBlack";
    src: url("/assets/fonts/cinzel-black.woff2") format("woff2"), /* Modern Browsers */
         url("/assets/fonts/cinzel-black.woff") format("woff"), /* Modern Browsers */
         url("/assets/fonts/Cinzel-Black.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Cinzel-Bold */@font-face {
    font-family: "CinzelBold";
    src: url("/assets/fonts/cinzel-bold.woff2") format("woff2"), /* Modern Browsers */
         url("/assets/fonts/cinzel-bold.woff") format("woff"), /* Modern Browsers */
         url("/assets/fonts/Cinzel-Bold.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
