#text {
  h1, h2, h3, h4 {
    color: $primary;
    padding-top: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .ml-1 {
    margin-left: ($spacer * 1) !important;
  }

/* style for first letter --not supported outside Safari right now
.drop-cap::first-letter {
  -webkit-initial-letter: 3.0 3.0;
          initial-letter: 3.0 3.0;
  color: $primary;
  font-weight: bold;
  margin-right: .75em;
}
*/

.drop-cap::first-letter {
  float: left;
  font-size: 3em;
  color: $primary;
  margin: -.2em .2em 0 -.2em;
}


  /******************************
 * STYLES FOR DISPLAYING CODE
 ******************************/
// heading style for a code section
h5 {
  background: none repeat scroll 0% 0% $code-heading-background;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 0px;
  border-radius: 3px 3px 0px 0px;
  }

  // main code section style
.highlight {
  pre {
    font-size: 18px;
    padding: 10px;
    code {
      color: $code-text-color;
      }
    }
  }
      // copy btn style
.btn-copy-code {
  color: $gray-900;
  padding-right: 5px;
  float: right;
  background: $code-heading-background;
  border: 0;
  font-size: 12px;
  margin-top: -30px;
  &:hover {
    cursor: pointer;
    color: $primary;
    }
  }
}

.text-primary-dark {
  color: $primary-dark;
}

.bg-black {
  background-color: #000000 !important;
}

a.bg-black:hover, a.bg-black:focus,
button.bg-black:hover,
button.bg-black:focus {
  background-color: black !important;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7) !important;
}
