<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}

    {% if page.image.title %}
    <div class="row">
    	<div class="col">
    		<img src="{{ site.baseurl }}/img/{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
    		{% if page.image.caption_url and page.image.caption %}
    		<p class="text-right caption">
    			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
    		</p>
    		{% endif %}
    	</div><!-- /.column -->
    </div><!-- /.row -->
    {% endif %}

    {{ content }}
    {% include footer.html %}
  </body>
</html>
